[user]
	email = defrann8208@outlook.com
	name = Nicholas Defranco
[core]
	editor = vim
[commit]
	gpgSign = true
	verbose = true
[alias]
	unstage = restore --stage
	discard = restore
[pager]
	branch = false
