[user]
	email = defrann8208@outlook.com
	name = Nicholas Defranco
[core]
	editor = vim
	excludesfile = /home/nick/.config/git/gitignore_global
	attributesfile = git/.config/git/gitattributes
[commit]
	gpgSign = true
	verbose = true
	status = true
	template = ~/.config/git/gitmessage.txt
[alias]
	unstage = restore --stage
	discard = restore
[pager]
	branch = false
[diff "word"]
	# pip3 install docx2txt
	# https://github.com/ankushshah89/python-docx2txt
	textconv = docx2txt
[diff "pdf"]
	# pip3 install pdfminer.six
	# https://github.com/pdfminer/pdfminer.six
	textconv = pdf2txt.py
[diff "exif"]
	# sudo apt install exif
	textconv = exif
[merge]
	conflictstyle = diff3
	branchdesc = true
[am]
	threeWay = true
[rerere]
	enabled = true
[status]
	showUntrackedFiles = all
	branch = true
	short = true
	submodulesummary = true
[stash]
	showPatch = true
[push]
	default = upstream
[diff]
	submodule = log
